<div id="title">
  <h1>eat your heart out, sugartits</h1>
</div>
<div id="media-links">
  <a href="https://twitter.com/hungerlings">Twitter</a> | 
  <a href="">Instagram</a> | 
  <a href="">Pinterest</a>
</div>