// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}
#title {
  width: 150px;
  height: 150px;
  background-color: red;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: auto;
  font-size: 25px;
}

#media-links {
  position: absolute;
  top: 375px;
  left: 0;
  margin-left: 50px;
  font-size: 13px;
}

#media-links a {
  text-decoration: none;
  font-family: sans-serif;
  font-size: 13px;
}